<section id="faq" class="osection">
    <div class="container-fluid">
        <h1>Frequently Asked Questions</h1>
        <p>
            <question>Q: I don't want others to close my code!</question>
            <answer>
                A: They can’t, your code still is open source. What did they close then? THEIR work
                which just happens to be based on your open source code. If you don't like this, then your
                existing license may be a good fit after all.
            </answer>
        </p>
        <p>
            <question>Q: What is if they write a wrapper around my lib and sell it for $10.000?</question>
            <answer>
                A: Yes that could happen but it’s also a rather unlikely scenario. If all they’ve done
                is a thin wrapper then you or someone else in the open source community is also capable
                of making such a thin wrapper in no time. Then all you need do is undercut them
                by $10.000 and a good chunk of freedom.<br/>
                <br/>
                The more likely scenario is that a company takes your code and produces a large amount
                of other code that just happens to use your lib at its core. The said company will sell
                their code and their extensions for a large sum of money and they are perfectly entitled
                to do so. It’s after all THEIR code.<br/>
                <br/>
                Even this scenario is beneficial to you. Said company will likely find bugs and fix them.
            </answer>
        </p>
        <p>
            <question>Q: Open source projects can't live without the restrictions the GPL offers!</question>
            <answer>
                A: Thats not true! Several of our most beloved open source projects are using permissive
                licenses: Clang, LLVM, node.js, jquery.
            </answer>
        </p>
        <p>
            <question>Q: Whats with the name? "Occupy GPL" do you want to destroy the GPL? And all GPL projects?</question>
            <answer>
                A: No. Yes it may sound like this, especially thanks to the old really misleading
                subtitle. We've choosen that name because it's very aggressive and generates a lot of
                attention. We think that the GPL isn't a good license and it shouldn't be used as much
                as it is today in open source software. Thats an opinion. There is lots of cool software
                licensed under the GPL which we're using every day: Linux, Git, Blender and a lot more.
                Kudos to all those awesome folks!
            </answer>
        </p>
        <p>
            <question>Q: You clearly have no idea what free software is about.</question>
            <answer>
                A: Maybe, but I'm more interested in open source software anyway (The FSF makes a distinction here).
                I'm also not interested in politics. Just technology and how to improve it.<br/>
                A nice quote from Linus Torvalds:<br/>
                <br/>
                <quote>
                    "That’s the point of open source – the ability to make the code better for your
                    particular needs, whoever the ‘your’ in question happens to be."
                </quote>
            </answer>
        </p>
        <p>
            <question>Q: What about the LGPL? It seems to fit your problem.</question>
            <answer>
                A: Yes the LGPL is (in our humble opinion) a huge improvement over the GPL and somewhat
                solves a lot of the problems I've mentioned. But it's also way more complicated to use
                then a permissive license and you still have the risk of doing copyright infringement
                just by using the project the wrong way.
            </answer>
        </p>
        <p>
            <question>Q: Isn't this a bit too aggressive? This site and all? GPL is cool, please don't hate it</question>
            <answer>
                A: Yes, it's aggressive but that was intentional :), we think that there is a problem
                which needs to be tackled, for which one needs attention. If you're hapy with everything
                as it is, cool! Have a nice day!<br/>
                If you however see a problem in
                <a href="http://news.slashdot.org/story/14/01/24/1838241/fsfs-richard-stallman-calls-llvm-a-terrible-setback">
                    posts like this
                </a> you're probably at the right place!
            </answer>
        </p>
        <p>
            <question>Q: What is the purpose of this site?</question>
            <answer>
                A: To encourage the usage of permissive open source licenses and create awareness that
                the GPL isn't the right license for every open source project.
            </answer>
        </p>
        <p>
            <question>Q: I HATE YOU, I HATE THIS, I'LL NOW MAKE MY OWN OCCUPY PERMISSIVE LICENSES SITE!</question>
            <answer>
                A: Cool. Feel free to <a href="https://github.com/occupygpl/occupygpl.org">fork this
                page</a>. You can even relicense it under GPL terms if you want to. It's MIT licensed after all.
            </answer>
        </p>
    </div>
</section>
