<section id="jointhefight" class="osection">
    <div class="container-fluid">
        <h1>Join the Fight!</h1>
        <p>
            Here are a few ways on how you can encourage the usage of permissive licenses.
        </p>

        <img src="img/join-hr.png" class="manifesto-hr img-responsive" />
        <h2>Spread the Word!</h2>
        <p>
            Let people know about this site:
        </p>
        <div class="share-button-container">
            <div class="share-button">
                {% include twitter_button.html %}
            </div>
            <div class="share-button">
                {% include gplus_button.html %}
            </div>
            <div class="share-button share-button-facebook">
                {% include facebook_button.html %}
            </div>
            <div class="clear"></div>
        </div>

        <img src="img/join-hr.png" class="manifesto-hr img-responsive" />
        <h2>Prefer projects using a permissive license!</h2>
        <p>
            Use more projects which are licensed under a permissive license, e.g. Clang, node.js or jQuery.
        </p>

        <img src="img/join-hr.png" class="manifesto-hr img-responsive" />
        <h2>(Re-)License your projects using a permissive license!</h2>
        <p>
            License your projects using a permissive license like the MIT, BSD or Apache2 license.
            If you have existing non-permissive projects think about relicensing them. Please be aware that the other
            contributors also need to agree to the relicensing.
        </p>

        <img src="img/join-hr.png" class="manifesto-hr img-responsive" />
        <h2>Let library developers know that you want to use it under permissive terms.</h2>
        <p>
            You want to use a library but you don't like the license? Try to open an issue and contact a maintainer
            about a possible license change. Discussion is healthy!
        </p>

        <img src="img/join-hr.png" class="manifesto-hr img-responsive" />
        <h2>Help new open source developer understand that the GPL isn't the right license for everything</h2>
        <p>
            A lot of young open source developers license everything with GPL terms without even knowing
            possible consequences. The popularity of GPL projects like Linux made the GPL to be a somewhat
            standard choice. This isn't good! A lot of open source projects would benefit more from a
            permissive license. Create awareness, be awesome!
        </p>
    </div>
</section>
